<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header>
      <div class="container">
        <div class="people-img">
          <img src="../assets/images/people.png" alt="" />
        </div>
        <div class="title">
          <p>Hi</p>
          <p>I’m a front-end developer</p>
          <h1>William</h1>
          <div class="btn-container">
            <a href="#">
              <p>contact me</p>
              <img src="../assets/images/arrow_outward.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
