<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header>
      <div class="container">
        <div class="people-img">
          <img src="../assets/images/people.png" alt="" />
        </div>
        <div class="title">
          <p>Hi</p>
          <p>I’m a front-end developer</p>
          <h1>William</h1>
          <div class="btn-container">
            <a href="#">
              <p>contact me</p>
              <img src="../assets/images/arrow_outward.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="introduction">
      <div class="container">
        <section class="section-left">
          <h2>Introduction</h2>
          <p>
            Hi, I'm William Lee, a Front-End Developer with a passion for
            building beautiful and responsive websites that provide an optimal
            user experience.
          </p>
          <div class="sparkle-sm">
            <img src="../assets/images/sparkle-sm.png" alt="" />
            <img src="../assets/images/sparkle-sm.png" alt="" />
            <img src="../assets/images/sparkle-sm.png" alt="" />
          </div>
        </section>
        <section class="section-right">
          <img src="../assets/images/sparkle.png" alt="" />
          <img src="../assets/images/photographer.png" alt="" />
          <img class="people2-img" src="../assets/images/people-2.png" alt="" />
        </section>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="cards">
          <div class="card">
            <h3>01</h3>
            <h3>Attention to Detail</h3>
            <p>Meticulous code analysis and optimization.</p>
          </div>
          <div class="card">
            <h3>02</h3>
            <h3>Adaptability</h3>
            <p>Swift learning of new technologies.</p>
          </div>
          <div class="card">
            <h3>03</h3>
            <h3>Problem Solver</h3>
            <p>Identifying and resolving issues.</p>
          </div>
          <div class="card">
            <h3>04</h3>
            <h3>Team Player</h3>
            <p>Collaborates and shares ideas.</p>
          </div>
        </div>
        <div class="about-me">
          <h2>About Me</h2>
          <p>
            With over 5 years of experience, I'm proficient in HTML, CSS,
            JavaScript, jQuery, and React. I have a strong understanding of user
            experience design and accessibility. I'm always learning new
            technologies and techniques to stay up-to-date in the field.
          </p>
        </div>
      </div>
    </main>

    <div class="contact-me">
      <div class="container">
        <div class="text">
          <p>contact</p>
          <img src="../assets/images/trending_flat_black_24dp 1.png" alt="" />
        </div>
        <ul>
          <li><img src="../assets/images/discord.png" alt="discord-img" /></li>
          <li>
            <img src="../assets/images/instagram.png" alt="instagram-img" />
          </li>
          <li><img src="../assets/images/message.png" alt="message-img" /></li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
